* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #a59f9f;
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #89fc00;
}

.about-section {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.about-section h1 {
    text-align: center;
    margin-bottom: 30px;
}

.about-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.text {
    max-width: 500px;
}

.projects-section {
    background-color: #fff;
    padding: 50px 0;
}

.projects-section h1 {
    text-align: center;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
}

.project-card {
    text-align: center;
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.contact-section {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #89fc00;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .2rem solid #89fc00;
    border-radius: 50%;
    font-size: 1.4rem;
    color:  #89fc00;
    margin: .5rem .5rem .5rem 0;
    transition: .5 ease;
    list-style: none;
    text-decoration: none;
}

footer .social-links a:hover {
    box-shadow: 0 0 1rem  #89fc00;
}

@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 80%;
        margin-bottom: 20px;
    }

    .about-details {
        flex-direction: column;
        align-items: center;
    }

    .about-img {
        width: 120px;
        height: 120px;
    }

    .text {
        text-align: center;
    }
}
